<app-headers></app-headers>
<main>
    <section class="banner ">
        
    
</section>
<section class="frase">
    <div class="container-grid posicao-frase">
        <p class="conteudo">Confira nossos produtos e aproveite para conversar com nossos
           vendedores sobre seu jogo preferido</p>
    </div>
</section>

<style>
    @media screen and (max-width: 1500px ){ .ofertas{ display: flex; flex-direction: column;  } }
</style>
<section class="ofertas" >

    <div class="produtos">
        <div class="container">
        
            <div class="produtos-ofertas">
                <div class="produto">
                    <img src="../imgs/kit.svg" alt="Kit com Nintendo swicht e dois controles de plays station">
                    <div >
                        <p>Kit Gamer Master com Nintendo Switch e dois controles de ps4</p>
                        <p class="preco">R$ 955,67
                      <button>  <a href="#">Comprar</a></button></p>
                    </div>                        
                </div>
                <div class="produto">
                    <img src="../imgs/controleps.svg" alt="Controle de plays station">
                    <div >
                        
                        <p>Controle Pro Branco Ps4</p>
                        <p class="preco">R$ 349,90
                            <button>  <a href="#">Comprar</a></button></p>
                    </div>                        
                </div>
                <div class="produto">
                    <img src="../imgs/notebook.svg" alt="Foto da jogadora profissional">
                    <div >
                        
                        <p>Notebook Samsung Book Go Sdragon 4gb 128GB eUFS Windows · 1920 x 1080 · SSD </p>
                        <p class="preco">R$ 2.799,00
                            <button>  <a href="#">Comprar</a></button></p>
                    </div>                        
                </div>
        
                <div class="produto">
                    <img src="../imgs/cellfone.svg" alt="Celular samsung e fixo">
                    <div>
                       
                        <p>Smartphone Galaxy A13 128GB/4GB Branco e Telefone fixo
                            </p>
                        <p class="preco">R$ 1.241,10
                            <button>  <a href="#">Comprar</a></button></p>
                    </div>                        
                </div>
                <div class="produto">
                    <img src="../imgs/cell.svg" alt="modelo de celular">
                    <div >
                        <p>iPhone 13 Pro Max 128GB Prateado </p>
                        <p class="preco">R$ 1.472,50
                            <button>  <a href="#">Comprar</a></button></p>
                    </div>                        
                </div>
                <div class="produto">
                    <img src="../imgs/produto-notebook.svg" alt="Produto notebook">
                    <div>
                       
                        <p>Pc Gamer Completo Kit Gamer Skill Monitor hdmi LED 19.5 </p>
                        <p class="preco">R$ 2.613,29
                        <button><a href="#">Comprar</a></button></p>
                    </div>                        
                </div>
                
            </div>
        </div>
    </div>
<app-footers></app-footers>