<header>
    <div class="cabecalho">
    <a href="#" target="_blank" ><img src="/assets/logo.svg" class="logo" alt="Logo Game Mania"></a>
   
    <nav  id="menu">
        <a href="" target="_blank">Home</a>
        <a href="contatos" target="_blank">Contatos</a>
        <a href="produtos" target="_blank">Produtos</a>
        <a href="login" target="_blank">Login</a>
       
       
    </nav>
    <a href="#" id="barra" onclick="mostrarMenu()" ><img src="/assets/barra.jpg"  alt="barra de menu"></a>
    </div>
</header>