<footer class="final">
    <div class="conhecendo">

      <p class="noticia">Faça parte do nosso grupo e fique por dentro das mais novas noticias</p>

      <form action="">
          <input type="email" name="emailnew"  placeholder="E-mail" maxlength="30" required>
          <button onclick="cadastrarNewsLetter()">Cadastrar</button>
      </form>
    </div>

  <div class="redes">
     <a href="https://www.instagram.com/" target="_blank"> <img class="red" src="/assets/instagram.svg" alt="Logo do instagram"></a>

     <a href="https://www.facebook.com/"target="_blank"> <img  class="red" src="/assets/facebook.svg" alt="Logo do facebook"></a>
      
     <a href="https://twitter.com/"target="_blank"> <img class="red" src="/assets/twitter.svg" alt="Logo do twitter"></a>
  </div>

  <div class="info">
      <p class="autor">De uma olhada em nossas Redes sociais</p>
      <p>Empresa: GameMania</p>
  </div>
  <div class="copy"> <p>Copyright © 2022. All rights reserved</p></div>
</footer>